@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827;
  color: #f3f4f6;
}

body.dark {
  background-color: #18181b;
  color: #f3f4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ダークテーマ用スクロールバー */
::-webkit-scrollbar {
  width: 10px;
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #33353b;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444654;
}
::-webkit-scrollbar-corner {
  background: #18181b;
}

/* Firefox対応 */
body, .bg-gray-900, .bg-gray-800 {
  scrollbar-color: #33353b #18181b;
  scrollbar-width: thin;
} 